
body {
  margin: 0px;
}
.nav {
  background-color: black;
  color: white;
  height: 70px;
}
.nav h1 {
  font-size: 25px;
}

#brand {
  width: 40%;
  height: 70px;
  float: left;
  text-align: center;
}

#menu {
  width: 60%;
  text-align: center;
  float: right;
  height: 70px;
}
a {
  color: white;
  text-decoration: white;
  margin-right: 50px;
  line-height: 70px;
}

#main {
  display: inline-block;
}
#img {
  width: 40%;
  text-align: center;
  height: 400px;
  float: left;
}

img {
  border-radius: 50%;
  margin-top: 150px;
}
#info {
  width: 60%;
  float: right;
  height: 400px;
}
#div {
  margin-top: 150px;
}
table {
  width: 100%;
  text-align: center;
}

footer {
  background-color: rgb(143, 55, 121);
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
}
footer section h2 {
  display: inline-block;
}
